* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  background: none;
  border: none;
}
:root {
  --blue: #00C0FF;
  --lightBlue: #92CDEA;
  --skyBlue: #E7F3F9;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #020403;
  border-radius: 6px;
  border: 1px solid #adadad;
  cursor: pointer;
}